/* Root Styling */
@import './typography.css';
@import './tailwind.css';
@import './daisyui.css';

/* Theme Definitions */
@import './themes/apple-light.css';
@import './themes/blue-cyan-modern.css';
@import './themes/catppuccin-mocha.css';
@import './themes/charcoal-lime.css';
@import './themes/colorhunt-crimson.css';
@import './themes/colorhunt-dusk-fire.css';
@import './themes/colorhunt-dusty-rose.css';
@import './themes/colorhunt-earthy.css';
@import './themes/colorhunt-galaxy-flame.css';
@import './themes/colorhunt-indigo-flame.css';
@import './themes/colorhunt-midnight.css';
@import './themes/colorhunt-ocean-flare.css';
@import './themes/colorhunt-teal-fire.css';
@import './themes/dracula.css';
@import './themes/emergent-balanced.css';
@import './themes/eyedea.css';
@import './themes/gruvbox-dark.css';
@import './themes/gunmetal-red.css';
@import './themes/mocha-orange.css';
@import './themes/monokai-pro.css';
@import './themes/nord.css';
@import './themes/one-dark-pro.css';
@import './themes/retro-pop.css';
@import './themes/solarized-dark.css';
@import './themes/space-asteroid-belt.css';
@import './themes/space-asteroid-belt-light.css';
@import './themes/space-cosmic-dust.css';
@import './themes/space-cosmic.css';
@import './themes/space-deep-space.css';
@import './themes/space-galactic.css';
@import './themes/space-nebula.css';
@import './themes/space-red-giant.css';
@import './themes/space-supernova.css';
@import './themes/sunset-dream.css';
@import './themes/tokyo-night-storm.css';
@import './themes/veeam-green.css';

/* Custom Declarations */
@import './core/animation.css';
@import './core/components.css';

/* Page wise */
@import './pages/landing.css';
@import './pages/automation.css';
@import './pages/layout.css';
@import './pages/components.css';

/* Plugin Overriding */
@import './plugins/apexcharts.css';
@import './plugins/carousel.css';
@import './plugins/filepond.css';
@import './plugins/flatpickr.css';
@import './plugins/scrollbar.css';
@import './plugins/select.css';
@import './plugins/text-editor.css';

/****  Plugins  ****/
/* Animations */
@plugin "tailwindcss-motion";

/* Typography (prose classes for markdown) */
@plugin "@tailwindcss/typography";

/* Iconify (Lucide icons) */
@plugin "@iconify/tailwind4" {
  prefixes: lucide, hugeicons, ri;
}
