@theme {
  --animate-bounce-slow: bounce-slow 2s infinite alternate;
  --animate-text-color: text-color 16s linear infinite;
  --animate-slide-in-right: slide-in-right 0.3s ease-out;
  --animate-background-shift: background-shift 8s ease infinite;

  @keyframes bounce-slow {
    0% {
      transform: translateY(0);
    }
    to {
      transform: translateY(-12px);
    }
  }

  @keyframes text-color {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes background-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.animated-text {
  @apply animate-text-color;
  background-size: 500% 500%;
  background-clip: text;
  color: transparent;
}
