.grainy {
  /* You can generate custom noise: https://www.noisetexturegenerator.com/ */
  /* Using 100% noise opacity, 50% noise density, background color: #FFFFFF, disable transparent noise, 200x200 image */
  background: url('/images/landing/footer-grainy.png') center center repeat
    rgba(255, 255, 255, 0);
}

.landing-gradient-underline {
  @apply relative;
  &:after {
    content: '';
    background-image: url('/images/landing/hero-text-underline.svg');
    position: absolute;
    top: 16px;
    left: 4px;
    transform: rotate(2deg);
    width: 160%;
    height: 160%;
    background-repeat: no-repeat;
  }
}

.hero-glow {
  background: 
        /* Bottom-left glow */ radial-gradient(
      circle at 10% 90%,
      oklch(var(--a) / 0.25) 0%,
      transparent 35%
    ),
    /* Bottom-right glow */
      radial-gradient(
        circle at 90% 80%,
        oklch(var(--a) / 0.2) 0%,
        transparent 30%
      ),
    /* Top-right glow */
      radial-gradient(
        circle at 95% 15%,
        oklch(var(--a) / 0.15) 0%,
        transparent 25%
      );
}
