/** Importing font files: Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;950;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700;800;1000&display=swap');

/*** Tailwind CSS Presets ***/
@import 'tailwindcss';

/****  Plugins  ****/
/* DaisyUI component library */
@plugin "daisyui" {
  themes: all;
}

/* Animations */
@plugin "tailwindcss-motion";

/* Typography (prose classes for markdown) */
@plugin "@tailwindcss/typography";

/* Iconify (Lucide icons) */
@plugin "@iconify/tailwind4" {
  prefixes: lucide, hugeicons, ri;
}

/** Dark Variant with theme & system mode **/
@variant dark {
  &:where(
      [data-theme='dark'] *,
      [data-theme='dim'] *,
      [data-theme='material-dark'] *
    ) {
    @slot;
  }
  &:not(
      [data-theme='light'] *,
      [data-theme='contrast'] *,
      [data-theme='material'] *
    ) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

/** Container utility **/
@utility container {
  margin-inline: auto;
  @apply px-[1rem] md:px-[2rem] lg:px-[3rem] xl:px-[4rem] 2xl:px-[6rem];
}

html {
  scroll-behavior: smooth;
}

/* Animations */
@plugin "tailwindcss-motion";

/* Typography (prose classes for markdown) */
@plugin "@tailwindcss/typography";

/* Iconify (Lucide icons) */
@plugin "@iconify/tailwind4" {
  prefixes: lucide, hugeicons, ri;
}

/** Dark Variant with theme & system mode **/
@variant dark {
  &:where(
      [data-theme='dark'] *,
      [data-theme='dim'] *,
      [data-theme='material-dark'] *
    ) {
    @slot;
  }
  &:not(
      [data-theme='light'] *,
      [data-theme='contrast'] *,
      [data-theme='material'] *
    ) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

/** Container utility **/
@utility container {
  margin-inline: auto;
  @apply px-[1rem] md:px-[2rem] lg:px-[3rem] xl:px-[4rem] 2xl:px-[6rem];
}

html {
  scroll-behavior: smooth;
}
