{{!--
  Footer partial
  Displays copyright and optional unsubscribe link
--}}
<mj-text align="center" font-size="12px" color="#9ca3af">
  {{#if companyName}}{{companyName}}{{else}}Emergent{{/if}} © {{currentYear}}. All rights reserved.
  {{#if unsubscribeUrl}}
  <br /><a href="{{unsubscribeUrl}}" style="color: #9ca3af;">Unsubscribe</a>
  {{/if}}
</mj-text>
