:root {
  --layout-sidebar-width: 256px;
}

/* == Layout: Sidebar == */
.sidebar-menu {
  .menu-label {
    @apply text-base-content/70 text-sm font-medium;
  }

  .menu-item {
    @apply flex items-center gap-2 px-2.5 rounded-box h-8 text-sm;
  }

  a,
  .menu-item-link {
    @apply cursor-pointer;

    &.menu-item {
      @apply hover:bg-base-200;

      &.active {
        @apply bg-base-200 font-medium;
      }
    }
  }

  .collapse {
    input {
      @apply p-0 min-h-8;
    }

    .collapse-title {
      @apply flex items-center gap-2 peer-hover:bg-base-200 rounded-box min-h-8 text-sm;

      .arrow-icon {
        @apply opacity-60 transition-all;
      }

      &:is(:where(.peer):checked ~ *) {
        @apply font-medium;

        .arrow-icon {
          @apply opacity-100 rotate-90;
        }
      }
    }

    .collapse-content {
      &:before {
        @apply bg-base-content/10 absolute start-4 top-10 bottom-2 w-px;
        content: '';
      }
    }
  }
}

/* == Layout: Sidebar == */

#layout-sidebar {
  width: var(--layout-sidebar-width);
  min-width: var(--layout-sidebar-width);
  background: var(--layout-sidebar-background, oklch(var(--b1)));
  max-height: 100vh;

  @apply top-0 bottom-0 z-10 relative flex flex-col bg-base-100;
  transition: margin 0.3s, max-height 0.3s;

  &.hide {
    margin-inline-start: calc(var(--layout-sidebar-width) * -1);
  }
}

/* == Layout: Topbar == */

#layout-topbar {
  background: var(--layout-topbar-background);
  @apply top-0 z-10 sticky min-h-16 max-h-16;
  transition: top 0.3s, margin 0.3s;
}

/* == Layout: Content == */

#layout-content {
  @apply px-3 py-6 sm:px-6 transition-all grow;
}

/* == Sidebar: Toggle == */

#layout-sidebar-toggle-trigger:checked ~ #layout-sidebar {
  margin-inline-start: calc(var(--layout-sidebar-width) * -1);
}

#layout-sidebar-hover {
  @apply hidden top-0 bottom-0 left-0 z-11 fixed;
}

#layout-sidebar-hover-trigger:checked ~ #layout-sidebar {
  @apply z-12 fixed;
  margin-inline-start: calc(var(--layout-sidebar-width) * -1);
}

#layout-sidebar-hover-trigger:checked ~ #layout-sidebar-hover {
  @apply block;
}

#layout-sidebar-hover:hover ~ #layout-sidebar,
#layout-sidebar-hover-trigger:checked ~ #layout-sidebar:hover {
  @apply z-12 !ms-0;
}

/* == Layout: Monochrome Layer == */

#layout-monochrome-layer {
  @apply z-[999999] fixed inset-0 opacity-0 backdrop-opacity-100 grayscale-100 transition-all duration-1000 pointer-events-none;
}

html[data-monochrome-enabled] #layout-monochrome-layer {
  @apply opacity-100;
}

/* == Sidebar: @media for small devices (phone, tablet), <= lg size == */

@media (max-width: theme(--breakpoint-lg)) {
  #layout-sidebar {
    @apply z-[500] fixed;
  }

  /* = Tweaks for hide on mobile device by default = */
  #layout-sidebar-toggle-trigger:not(:checked) ~ #layout-sidebar {
    margin-inline-start: calc(var(--layout-sidebar-width) * -1);
  }

  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar {
    margin-inline-start: 0;
  }

  #layout-sidebar-toggle-trigger:checked ~ #layout-sidebar-backdrop {
    @apply bg-base-content/5 fixed inset-0 z-[499] transition-all;
  }
}

/* == Overrides: specific to material theme and non-material theme == */

html:not([data-theme='material'], [data-theme='material-dark']) {
  #layout-sidebar {
    @apply border-e-[1px] border-base-200;
  }

  #layout-topbar {
    @apply border-b border-base-200;
  }
}

html[data-theme='material'],
html[data-theme='material-dark'] {
  #layout-sidebar {
    max-height: calc(100vh - 32px);
    @apply top-4 bottom-4 ms-4 rounded-box;
  }

  #layout-topbar {
    @apply static mx-5 mt-4 rounded-box;
  }
}
